.container {
  padding-top: 20px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 20px;
}
.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item {
  width: 150px;
  height: 300px;
  margin: 10px;
}
