.CastShow-appear {
  opacity: 0;
}
.CastShow-appear-active {
  opacity: 1;
  transition: all 500ms linear;
}
.CastItemShow-appear {
  opacity: 1;
  transform: scale(0.3);
}
.CastItemShow-appear-active {
  opacity: 0;
  transform: scale(1);
  transition: all 500ms linear;
}
