.container {
  padding-top: 20px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 20px;
  text-align: left;
}
.review {
  border-left: 1px solid #ff6b08;
  border-radius: 0px 8px 8px 0px;
  padding: 15px;

  background-color: rgba(219, 215, 210, 0.3);
}
.review:not(:last-child) {
  margin-bottom: 20px;
}
