.ReviewsShow-appear {
  opacity: 0;
}
.ReviewsShow-appear-active {
  opacity: 1;
  transition: all 500ms linear;
  visibility: hidden;
}
.ReviewsItemShow-appear {
  opacity: 0;
  transform: translateX(-100%);
}
.ReviewsItemShow-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms linear;
}
