.container {
  padding-top: 15px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 15px;
  text-align: left;
  border-bottom: 1px solid gray;
}
.btn {
  font-size: 1.5em;
  font-weight: 700;
  border: none;
  background-color: transparent;
  padding: 15px 0px;
  color: #ff6b08;
}
.btn:before {
  content: ' ';
  display: inline-block;
  background-image: url(./arrow.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
.btn:hover,
.btn:focus {
  transform: scale(1.1);
  outline: none;
}
.card {
  display: flex;
  margin-top: 10px;
}
.img {
  display: block;
  border-radius: 5px;
  width: 500px;
  height: auto;
  margin-right: 30px;
}
.content {
  padding-top: 10px;
  padding-bottom: 10px;
}
.title {
  font-size: 30px;
  margin-bottom: 20px;
}
.raitingActive {
  color: green;
}
.raitingDisabled {
  color: red;
}
.info {
  margin-bottom: 10px;
}
