.img {
  display: block;
  border-radius: 5px;
  width: 100%;
  height: 400px;
}
.img:hover,
.img:focus {
  box-shadow: 0px 35px 60px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.name {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #000;
  text-transform: uppercase;
}
.info {
  color: #ff6b08;
  margin-right: 5px;
}
