.btn {
  font-size: 1.5em;
  font-weight: 700;
  border: none;
  background-color: transparent;
  padding: 10px 40px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus,
.btnActive {
  background-color: #fff;
  color: #000;
}
.btn:first-child {
  margin-right: 30px;
}
