.form {
  margin-bottom: 15px;
}
.input {
  padding: 10px 20px;
  margin-right: 45px;
  width: 350px;
  border: 1px solid #ff6b08;
  border-radius: 5px;
}
.btn {
  border: none;
  font-size: 1.5em;
  font-weight: 700;
  padding: 10px 40px;
  background-color: #ff6b08;
  color: #000;
  border: 3px solid #ff6b08;
  border-radius: 5px;
  transition-property: transform, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: #ff6b08;
  transform: scale(1.1);
  outline: none;
}
