.container {
  padding-top: 15px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 15px;
  text-align: left;
  border-bottom: 1px solid gray;
}
.list {
  list-style: disc;
  padding-left: 20px;
}
.item {
  display: block;
  color: #ff6b08;
}
.item:first-child {
  margin-bottom: 5px;
}
