.list {
  margin-left: auto;
  margin-right: auto;
  padding-left: 75px;
  padding-right: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.title {
  position: relative;
}
.title:after {
  display: block;
  content: '';
  height: 3px;
  width: 50%;
  left: 50%;
  position: absolute;
  background-color: #ff6b08;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}
.card {
  height: 439px;
  width: 280px;
  margin: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  text-align: left;
}
.card:hover,
.card:focus {
  transform: scale(1.05);
}
.card:hover .title,
.card:focus .title {
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}
.card:hover .info,
.card:focus .info {
  text-shadow: 0px 0px 1px rgba(255, 107, 8, 0.56);
}
