body {
  background-color: #fff;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: black;
  text-align: center;
  padding-bottom: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
input:hover,
input:focus {
  outline-color: #ff6b08;
}
